:root {
  --Mobile-width: 375px;
  --Desktop-width: 1440px;

  --button-bg: linear-gradient(192, 100%, 67%) to hsl(280, 87%, 65%);

  --clr-primary-400: hsl(220, 98%, 61%);

  --clr-grey-100: hsl(0, 0%, 98%);
  --clr-grey-200: hsl(236, 33%, 92%);
  --clr-grey-300: hsl(233, 11%, 84%);
  --clr-grey-400: hsl(236, 9%, 61%);
  --clr-grey-500: hsl(235, 19%, 35%);

  --clr-dark-200: hsla(236, 32%, 92%, 1);
  --clr-dark-300: hsl(235, 39%, 85%);
  --clr-dark-400: hsl(234, 11%, 52%);
  --clr-dark-500: hsl(233, 14%, 35%);
  --clr-dark-600: hsl(237, 14%, 26%);
  --clr-dark-700: hsl(235, 24%, 19%);
  --clr-dark-800: hsl(235, 21%, 11%);

  --fs-body: 18px;
  --fs-heading: 40px;
  --fs-links: 14px;

  --clr-heading: var(--clr-grey-100);

  --clr-body-font: var(--clr-grey-500);
  --clr-body-bg: var(--clr-grey-100);
  --clr-input: var(--clr-grey-300);
  --clr-strike: var(--clr-grey-300);
  --clr-hover: hsl(236, 33%, 92%);

  --clr-active: var(--clr-primary-400);
  --clr-hover: var(--clr-grey-500);
  --clr-inactive: var(--clr-grey-400);

  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  text-decoration: none;
  list-style: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* utilities */

.grid-center {
  display: grid;
  place-content: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
}

.gap {
  gap: 10px;
}

.spaceB {
  justify-content: space-between;
}

/* general */

.card {
  min-width: 327px;
  max-width: 540px;
  max-height: 368px;
  margin: 4rem auto;
}

.input-container {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.input-current {
  margin-top: 1rem;
}

.t {
  background-color: red;
}

.list-item {
  max-height: 48px;
  border: 1px solid var(--clr-grey-200);
  background-color: var(--clr-grey-100);
  color: var(--clr-grey-400);
  padding: 2rem;
}

.input-new-item {
  max-height: 48px;
  width: 100%;
  border: none;
  background-color: var(--clr-grey-100);
}

.infomation-panel {
  max-height: 48px;
  border: 1px solid var(--clr-grey-200);
  background-color: var(--clr-grey-100);
  color: var(--clr-grey-400);
  padding: 2rem;
}

h2 {
  font-size: var(--fs-links);
}

h1 {
  font-size: var(--fs-heading);
  color: var(--clr-grey-100);
}

button {
  background: transparent;
  border: none !important;
}

.button-components {
  color: var(--clr-grey-400);
  text-decoration: none;
  min-width: 40px;
}

.links-container {
  background-color: var(--clr-grey-100);
  margin-top: 2rem;
}

.drop-p {
  margin-top: 49px;
  color: var(--clr-grey-400);
  font-size: var(--fs-links);
}

.bg-image-wrapper {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.image {
  height: auto;
  width: 100vw;
}

.checkSymbol {
  border-radius: 1000px;
  /* background: linear-gradient(135deg, #558cff 0%, #c058f3 100%); */
  width: 30px;
  height: 30px;
  border: 1px solid var(--clr-grey-300);
}

.XSymbol {
  border-radius: 1000px;
  width: 30px;
  height: 30px;
}
