:root {
  --Mobile-width: 375px;
  --Desktop-width: 1440px;

  --button-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --clr-primary-400: hsl(220, 98%, 61%);

  --clr-grey-100: hsl(0, 0%, 98%);
  --clr-grey-200: hsl(236, 33%, 92%);
  --clr-grey-300: hsl(233, 11%, 84%);
  --clr-grey-400: hsl(236, 9%, 61%);
  --clr-grey-500: hsl(235, 19%, 35%);

  --clr-dark-300: hsl(234, 39%, 85%);
  --clr-dark-400: hsl(234, 11%, 52%);
  --clr-dark-500: hsl(233, 14%, 35%);
  --clr-dark-600: hsl(237, 14%, 26%);
  --clr-dark-700: hsl(235, 24%, 19%);
  --clr-dark-800: hsl(235, 21%, 11%);

  --clr-dark-hover: hsl(236, 33%, 92%);

  --fs-body: 18px;
  --fs-heading: 40px;
  --fs-links: 14px;

  --clr-heading: var(--clr-grey-100);

  --clr-body-light: var(--clr-grey-500);
  --clr-strike-light: var(--clr-grey-300);
  --clr-input-light: var(--clr-grey-300);

  --clr-active-light: var(--clr-primary-400);
  --clr-inactive-light: var(--clr-grey-400);
}
